/* You can add global styles to this file, and also import other style files */
.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-family: "octin sports", sans-serif;
  }
  
  .heading_container h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .heading_container.heading_center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  h1,
  h2 {
    font-family: "octin sports", sans-serif;
  }
  
  /*header section*/
  .header_section {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .header_section.innerpage_header {
    position: relative;
    background: #3a3f58;
    padding: 10px 0;
  }